$generator.includeFile("php_header")

#foreach($rootPkg in $generator.getRootPackages())
#set ($name = $rootPkg.getFullName().replace(".", "__"))
require('IPCStub___${name}.php');
#end

class IPCStubs {

    private $palava;

#foreach($rootPkg in $generator.getRootPackages())
    public IPCStub___$rootPkg.getFullName().replace(".", "__") $$rootPkg.getName();
#end

    public function __construct($palava) {
        $this->palava = $palava;
#foreach($rootPkg in $generator.getRootPackages())
        $this->$rootPkg.getName() = new IPCStub___$rootPkg.getFullName().replace(".", "__")($palava);
#end
    }

}

#foreach($rootPkg in $generator.getRootPackages())
#set ($name = $rootPkg.getFullName().replace(".", "__"))
$generator.generateFile("IPCStub___${name}.php", "IPCStub", $rootPkg)
#end
$generator.includeFile("php_footer")